/*******************************
Web API V1

Author: Brent Suggs
November 2016
*******************************/


* {
    box-sizing: border-box;
}

html, 
body {
    font-size: 16px; 
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
}

body {
    margin-top: 135px;
    background-color: #E9E9E9;
}

.wrap {
    width: 90%; 
    max-width: 980px; 
    margin: 0 auto; 
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%;
    padding: 1% 5%; 
    background-color: white;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.3);
}

header > h1 {
    display: inline-block;
    width: 100%; 
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(0,0,0);
}

img {
    width: 100%;
    border-radius: 3px;
}

/**********************
    SEARCH BAR
**********************/ 

#search {
    display: inline-block;
    vertical-align: baseline;
    width: 30%;
    max-width: 460px;
    height: 2.25em;
    border-radius: 3px;
    border: 2px solid #D5D5D5;
	padding-left: 10px;
	font-size: 1em;
}

#search:focus {
    border: 2px solid #B5B5B5; 
    outline: none; 
}



/**********************
    LIGHTBOX
**********************/ 

#overlay {
    background: rgba(0,0,0,.7); 
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0; 
    display: none; 
    text-align: center; 
}

#info {
    width: 100%;
    padding: 10px;
    background: white;
    min-height: 3em;
    margin-top: 0;
    text-align: left;
    font-size: .75em; 
}

#info ul {
    list-style: none; 
    padding-left: 0; 
}

#lightboxContainer {
    position: relative;
    width: 80%;
    max-width: 500px; 
    background: green;
    margin: 10% auto 0; 
}

#lightboxContainer img {
    width: 75%;
    margin: 10px auto; 
}


#navContainer {
     margin-top: 25px;
}

#navLeft,
#navRight,
#navClose {
    color: white; 
    cursor: pointer; 
    display: inline-block;
    font-size: 1em;   
}

#navLeft,
#navRight {
    width: 20%;
}

#navClose {
    position: absolute; 
    top: -30px;
    left: 0; 
    width: 40%;
    text-align: left;
}



/**********************
    GALLERY
**********************/ 

#gallery {
    list-style: none; 
    padding-left: 0; 
}


li.gallery-item {
    width: 200px;
    margin: 0 auto 60px auto; 
}

.gallery-item img {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.4);
}


/**********************
    DICE
**********************/

#diceContainer {
    display: inline-block; 
    width: 50%; 
    margin-left: 10%; 
}

#rollBtn {
    height: 2.25em; 
    margin-right: 25px;
}

.die.one .dot { 
	box-shadow: 0 .2em 0 #FFF; 
}
.die.two .dot { 
	background: transparent;
	box-shadow: -2.3em -2.3em 0 #345, 
		     2.3em  2.3em 0 #345, 
		    -2.3em -2.3em 0 #FFF, 
		     2.3em  2.4em 0 #FFF;
}
.die.three .dot { 
	box-shadow: -2.3em -2.3em 0 #345, 
		     2.3em  2.3em 0 #345, 
		    -2.3em -2.3em 0 #FFF, 
		     2.3em  2.4em 0 #FFF, 
		         0   .2em 0 #FFF;
}
.die.four .dot { 
	background: transparent;
        box-shadow: -2.3em -2.3em 0 #345, 
        	     2.3em  2.3em 0 #345, 
        	    -2.3em  2.3em 0 #345, 
        	     2.3em -2.3em 0 #345, 
        	    -2.3em -2.3em 0 #FFF, 
        	     2.3em  2.4em 0 #FFF, 
        	    -2.3em  2.4em 0 #FFF, 
        	     2.3em -2.3em 0 #FFF; 
}
.die.five .dot { 
	box-shadow: -2.3em -2.3em 0 #345, 
		     2.3em  2.3em 0 #345, 
		    -2.3em  2.3em 0 #345, 
		     2.3em -2.3em 0 #345, 
		    -2.3em -2.2em 0 #FFF, 
		     2.3em -2.2em 0 #FFF, 
		     2.3em  2.4em 0 #FFF, 
		    -2.3em  2.4em 0 #FFF,
		         0   .2em 0 #FFF; 
}
.die.six .dot {
	background: transparent;
	box-shadow: -2.3em -2.3em 0 #345,
		    -2.3em      0 0 #345,
		    -2.3em  2.3em 0 #345,
		     2.3em -2.3em 0 #345,
		     2.3em      0 0 #345,
		     2.3em  2.3em 0 #345,
		    -2.3em -2.1em 0 #FFF,
		    -2.3em   .2em 0 #FFF,
		    -2.3em  2.4em 0 #FFF,
		     2.3em  2.4em 0 #FFF,
		     2.3em   .2em 0 #FFF,
		     2.3em -2.1em 0 #FFF;
}
.die {
	border-top: 1px solid #f1f1f1;
	width: 25px; height: 25px;
    margin-left: 10px;
	border-radius: 5px;
	position: relative;
	font-size: 3px;
	display: inline-block;
	box-shadow: 0px 5px 0 #CCC, 0 6px 3px #444, 0 8px 5px #999;
	background-image: -webkit-linear-gradient(top, #fefefe, #f1f1f1 80%);
}
.dot {
	width: 20%; 
	height: 20%; 
	left: 50%; 
	top: 50%;
	margin: -10%;
	background: #345;
	border-radius: 50%;
	display: block;
	position: absolute;
}




/**********************
***********************
    MEDIA QUERIES
***********************
**********************/ 

@media screen and (min-width: 480px) {
    
    li.gallery-item {
        float: left; 
        margin: 0 calc((100% - 400px)) 60px 0; 
    }
    
    li.gallery-item:nth-child(2n+2) {
        margin-right: 0;
    }
    
    #lightboxContainer {
        width: 50%;
    }
        
    #lightboxContainer img {
        width: 55%;
        margin: 10px auto; 
    }
    

}


@media screen and (min-width: 768px) {
    
    li.gallery-item,
    li.gallery-item:nth-child(2n+2) {
        margin-right: calc((100% - 600px)/2); 
    }

    
    li.gallery-item:nth-child(3n+3) {
        margin-right: 0;
    }
    
    #overlay p {
        font-size: 1em;
    }
    
    #navLeft,
    #navRight,
    #navClose {
        font-size: 1.25em;   
    }

    
}

@media screen and (min-width: 1024px) {
    

    li.gallery-item,
    li.gallery-item:nth-child(2n+2),
    li.gallery-item:nth-child(3n+3) {
        margin-right: calc((100% - 800px)/3);
    }
    
    li.gallery-item:nth-child(4n+4) {
        margin-right: 0;
    }

}


